# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids
*.pid
*.seed

# Debug
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Optional: ignore test coverage and build
coverage/
dist/
build/